@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/product-sans');
                
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: small;
    background-color: #202124;
    color: white;
    text-decoration: none;
}
.uppercase{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.upper{
    display: flex;
    margin-top: 8px;
}
.gmail{
    padding: 0px 15px 0px 0px;
}
.images{
    padding: 0px 15px 0px 0px;
}
.upper1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined{
    padding: 0px 0px 0px 10px;
}
.user{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 0px 20px;
}
.googlee{
    height: 250px;
    width: 100%;
    font-size: 92px;
    font-weight:500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.glg{
    max-width: 272px;
    max-height: 92px;

}
.searchbar{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.bar{
    width: 500px;
    border-radius: 30px;
    border: 0.5px solid #bdc1c6;
    display: flex;
    padding:5px; 
}

.sea{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0px 0px 0px 10px;
}
input{
    border: none;
    width:400px;
    padding: 0px 10px;
}
.btns{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 15px;
    background-color: #303134;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
a{
    color: #8ab4f8;
    padding: 5px;
}
.tra{
    margin-top: 15px;
    text-align: center;
}

footer{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.foot{
    height: 25px;
    font-size: 20px;
    padding: 15px 10px 15px 45px;
    background-color: rgb(29, 27, 27);
    display: flex;
    align-items: center;
}
.country{
    color: #9aa0a6;
}
.foo{
    border-top: 1px solid #3c4043;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 15px 30px;
    background-color: rgb(29, 27, 27);
    height: 20px;
    align-items: center;
    white-space: nowrap; 
}

ul li{
    font-size: 14px;
    display: inline;
    padding: 0px 15px;
    color: #9aa0a6;
    background-color: rgb(29, 27, 27);

}